table {
    margin:0 auto;
    width: 100%;
}

th {width: 18rem;height: 2.2rem;background: #47007e;color: #fff;}
td{text-align: center;}
input {height: 2.2rem;width: 100%;}
select {height: 2.2rem;width: 20rem !important;width: 100%;}
.rem-2 {font-size: 2rem}
.mt-2{margin-top: 2rem;}
.mb-2{margin-bottom: 2rem;}