// ::ng-deep .p-menubar{background: blue;color: #fff;}
// ::ng-deep .p-menuitem-text{ color: #fff;}
// ::ng-deep .p-ripple.p-element.p-menuitem-link .p-menuitem-icon {color: #fff;}
// ::ng-deep .p-submenu-list {background: blue;}
// ::ng-deep .p-ripple.p-element.p-menuitem-link:hover {background: blue;}